.vscode/
/.idea/
/.DS_Store
/.env
build/
build_*/
bin/
obj/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.lib
*.pdb
cmake-build-*/
*.user
*.log
android/**/build/
android/**/app/build/
node_modules/
/.omo/
/.git/
third_party/raylib/raygui/*.o
vcpkg/packages/
vcpkg/installed/
*.zip
*.tar.gz
*.7z
Thumbs.db
/.cache/
