<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secondbrain.app">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="31" />

    <application android:label="SecondBrain">
        <!-- Use NativeActivity to run native C code directly -->
        <activity android:name="android.app.NativeActivity"
            android:label="SecondBrain"
            android:exported="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data android:name="android.app.lib_name" android:value="secondbrain" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
